.selected {
  background-color: #02813f !important;
  color: white;
}
.characters {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 30em;
  height: 10em;
  background-color: #96c0d4
}
.characters li {
  cursor: pointer;
  background-color: #EEE;
  height: 1em;
  width: 1em;
  float: left;
  padding: 0;
  margin: 0;
}
.characters .selected:hover {
  background-color: #02813f !important;
  color: white;
}
.characters .character:hover {
  background-color: #05cf66;
  transform: scale(1.2);
  z-index: 10;
}
.characters .character {
  display:block;
  font-size: small;
  color: white;
  background-color: #96c0d4;
  line-height: inherit;
  height: inherit;
  width: inherit;
  margin: 0;
  padding: 0;
  text-align: center;
}
